<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$blog['title']} | {$webConfig['site_title']}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="keywords" content="{$blog['title']}">
    <meta name="description" content="{$webConfig['blogname']}"/>
    <meta name="blogname" content="{$webConfig['blogname']}">
    <meta name="bloginfo" content="{$webConfig['bloginfo']}">

    <link href="{$templatesPath}/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="{$templatesPath}/css/font-awesome.min.css" rel='stylesheet' type='text/css' />
    <link href="{$templatesPath}/css/style.css" rel='stylesheet' type='text/css' />
    <link href="{:ADMIM_TPL_PATH}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel='stylesheet' type='text/css' />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.useso.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.useso.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="{$templatesPath}/js/move-top.js"></script>
    <script type="text/javascript" src="{$templatesPath}/js/easing.js"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({

                    scrollTop:$(this.hash).offset().top

                },900);
            });
        });
    </script>
    <!---->

</head>
<body>
<!---strat-banner---->
<div class="banner">
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"> <img src="{$templatesPath}/images/logo.png" title="soup" /></a>
            </div>
            <!---start-top-nav---->
            <div class="top-menu">
                <span class="menu"> </span>
                <ul>
                    <li class="active"><a href="index.html">HOME</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a href="terms.html">TERMS</a></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <div class="clearfix"></div>
            <script>
                $("span.menu").click(function(){
                    $(".top-menu ul").slideToggle("slow" , function(){
                    });
                });
            </script>
            <!---//End-top-nav---->
        </div>
    </div>
    <div class="container">
        <div class="banner-head">
            <h1>Lorem ipsum dolor sit amet</h1>
            <h2>cliquam tincidunt mauris</h2>
        </div>
        <div class="banner-links">
            <ul>


                <volist name="menuData" id="vo">


                    <li
                    <if condition="$vo.controller_name == $routeInfo['c'] ">
                        class="active"
                    </if>
                            ><a href="/index.php?m={$vo.module_name}&c={$vo.controller_name}&a={$vo.action_name}">{$vo.name}</a></li>
                </volist>


                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
</div>
<!---//End-banner---->