<include file="home@blog@head"/>

<div class="content">
    <div class="container">
        <div class="content-grids">
            <div class="col-md-8 content-main">


                <div class="content-grid">
                    <div class="content-grid-head">
                        <h3>{$blog['title']}</h3>
                        <h4>{$blog['time']},所属分类：{$blog['category']},作者: <a href="jvascript:;">{$blog['author']}</a>
                        </h4>

                        <div class="clearfix"></div>
                    </div>

                    <div class="content-grid-single">

                        {$blog['content']}

                        <div class="content-form">

                            <if condition="$webConfig['ischkcomment']">

                                <h3>Leave a comment</h3>

                                <form id="comment_form">
                                    <input type="text" class="comment_name" name="name" placeholder="昵称"
                                           required="text">
                                    <input type="text" class="comment_qq" name="qq" placeholder="QQ" required="qq">
                                    <textarea name="content" class="comment_content" placeholder="内容" name=""
                                              required="text"></textarea>

                                    <div>
                                        <img id="comment_verify"
                                             src="/index.php?m=common&amp;c=getcommentver&amp;a=index"
                                             onclick="javascript:this.src='/index.php?m=common&amp;c=getcommentver&amp;a=index'"
                                             alt="">


                                        <input type="text" id="check_code" maxlength="4" name="check_code"
                                               placeholder="验证码" required="check_code">
                                    </div>
                                    <input type="button" style="width: 100px;height: 38px;" value="SEND"
                                           onclick="addComment();">
                                </form>

                            </if>

                            <ul class="chats">

                                <php>
                                    foreach($comments as $k=>$v)
                                    {
                                    $class = $v['level']%2==1?"in":"out";
                                    $left1 = 10+30*($v['level']-1);
                                    $left2 = 65+30*($v['level']-1);

                                </php>

                                <li class="{$class}" >
                                    <img class="avatar" alt="" style="margin-left: {$left1}px;"
                                         src="http://q1.qlogo.cn/g?b=qq&nk={$v['qq']}&s=100&t={:time()}">

                                    <div class="message" style="margin-left: {$left2}px;">
											<span class="arrow">
											</span>
                                        <a href="#" class="name">
                                            {$v['name']} </a>
											<span class="datetime">
											at {$v['crate_time']} </span>
											<span class="body">
											{$v['content']} </span>

                                        <div>
                                            <span aria-hidden="true" data="ref_{$v['id']}_like"  class="ico icon-like">{$v['up']}</span>
                                            <span aria-hidden="true" data="ref_{$v['id']}_dislike" class="ico icon-dislike">{$v['down']}</span>
                                            <span aria-hidden="true" class="ico icon-speech">评论</span>

                                            <div class="clearfix"></div>
                                        </div>


                                        <div class="rep_content">

                                            <textarea class="form-control" rows="3"></textarea>

                                            <button class="btn btn-default pull-right" data="ref_{$v['id']}" type="button">Button</button>
                                            <div class="clearfix"></div>

                                        </div>


                                    </div>
                                </li>

                                <php>

                                    }

                                </php>


                            </ul>

                        </div>


                    </div>

                </div>


            </div>

            <div class="col-md-4 content-main-right">
                <div class="search">
                    <h3>SEARCH HERE</h3>

                    <form>
                        <input type="text" value="" onfocus="this.value=''" onblur="this.value=''">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="categories">
                    <h3>CATEGORIES</h3>
                    <li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>
                    <li><a href="#">Vestibulum commodo felis quis tort</a></li>
                    <li><a href="#">Fusce pellentesque suscipit</a></li>
                </div>
                <div class="archives">
                    <h3>ARCHIVES</h3>
                    <li class="active"><a href="#">July 2014</a></li>
                    <li><a href="#">June 2014</a></li>
                    <li><a href="#">May 2014</a></li>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{:ADMIM_TPL_PATH}/plugins/layer/layer.min.js"></script>

<script>

    $(".icon-like,.icon-dislike").click(function () {

        var z = $(this)
        var num = $(this).text();
        var data = $(this).attr("data").split("_")
        var id = data[1]
        var operationtype = data[2]
        $.ajax({
            url: "/index.php?m=home&c=comment&a=like",
            type: "post",
            dataType: "json",
            data: {
                id: id, operationtype: operationtype,type: "article",data:{$blog['id']}
            },
            success: function (d) {
                if (d.status) {
                    z.animate({
                        fontSize: "16px"
                    })
                    z.text(++num);
                    z.animate({
                        fontSize: "12px"
                    })
                }
            }

        })

    })



    $(".icon-speech").click(function () {

        $(this).parent().next().animate({

            height: "toggle"
        })

    })


    function addComment() {
        var name = $.trim($(".comment_name").val());
        var qq = $(".comment_qq").val();
        var content = $(".comment_content").val();
        if (!name || !qq || !content) {
            layer.msg('请完整填写各字段', 1, 8);
            return false;
        }
        var re = /\d{5,11}/;
        if (!re.test(qq)) {
            layer.msg('QQ格式错误', 1, 8);
            return false;
        }
        $.ajax({
            url: "/index.php?m=home&c=comment&a=add",
            type: "post",
            dataType: "json",
            timeout: 5000,
            data: {

                name: name, qq: qq, content: content

            },
            beforeSend: function () {
                var load = layer.load('提交中', 3);
            },
            success: function (d) {
                layer.close("load")
                if (d.status) {
                    layer.msg('提交成功', 3, {
                        type: 9,
                        rate: 'bottom',
                        shade: [0]
                    });
                    $('#comment_form')[0].reset()
                } else {
                    layer.msg(d.msg, 1, 8);
                }
            },
            error: function () {
                layer.msg('提交失败', 1, 8);
            },
            complete: function (XMLHttpRequest, status) {
                if (status == 'timeout') {
                    ajaxTimeoutTest.abort();
                    layer.alert("超时!", 1, 8)
                }
            }

        })
        return false;


    }


</script>


<include file="home@index@foot"/>
