<include file="home@blog@head"/>

<div class="content">
    <div class="container">
        <div class="content-grids">
            <div class="col-md-8 content-main">


                <div class="content-grid">
                    <div class="content-grid-head">
                        <h3>{$blog['title']}</h3>
                        <h4>{$blog['time']},所属分类：{$blog['category']},作者: <a href="jvascript:;">{$blog['author']}</a>
                        </h4>

                        <div class="clearfix"></div>
                    </div>

                    <div class="content-grid-single">

                        {$blog['content']}

                        <div class="content-form">
                            <if condition="$webConfig['iscomment']==1">

                                <h3>Leave a comment</h3>

                                <form id="comment_form">
                                    <input type="text" class="comment_name" name="name" placeholder="昵称"
                                           required="text">
                                    <input type="text" class="comment_qq" name="qq" placeholder="QQ" required="qq">
                                    <textarea name="content" class="comment_content" placeholder="内容" name=""
                                              required="text"></textarea>

                                    <if condition="$webConfig['comment_code']==1">
                                        <div>
                                            <img class="comment_verify"
                                                 src="/index.php?m=common&amp;c=getcommentver&amp;a=index&id=0"
                                                 onclick="javascript:this.src='/index.php?m=common&c=getcommentver&a=index&id=0'"
                                                 alt="">


                                            <input type="text" class="check_code"
                                                   style="width: 15%;display: inline;margin-left: 5px;" maxlength="4"
                                                   name="check_code"
                                                   placeholder="验证码" required="check_code">
                                        </div>
                                    </if>
                                    <input type="button" style="width: 100px;height: 38px;" value="SEND"
                                           onclick="addComment(this,0,0,{$blog['id']});">
                                </form>

                                <p class="comment_controller">
                                    <span>一共有{:count($comments)}条评论</span>
                                    <span onclick="hideComment()">[-]收起评论</span>
                                    <span onclick="showComment()">[+]展开评论</span>
                                </p>




                                <ul class="chats">

                                    <php>
                                        foreach($comments as $k=>$v)
                                        {
                                        $class = $v['level']%2==1?"in":"out";
                                        $left1 = 10+30*($v['level']-1);
                                        $left2 = 65+30*($v['level']-1);

                                    </php>

                                    <li class="{$class} comment_{$v['id']}">
                                        <img class="avatar" alt="" style="margin-left: {$left1}px;"
                                             src="http://q1.qlogo.cn/g?b=qq&nk={$v['qq']}&s=100&t={:time()}">

                                        <div class="message" style="margin-left: {$left2}px;">
											<span class="arrow">
											</span>
                                            <a href="#" class="name">
                                                {$v['name']} </a>
											<span class="datetime">
											at {$v['crate_time']} </span>
											<span class="body">
											{$v['content']} </span>

                                            <div>
                                            <span aria-hidden="true" data="ref_{$v['id']}_like" class="ico icon-like"
                                                  onclick="upDownComment(this)">{$v['up']}</span>
                                            <span aria-hidden="true" data="ref_{$v['id']}_dislike"
                                                  class="ico icon-dislike"
                                                  onclick="upDownComment(this)">{$v['down']}</span>
                                            <span aria-hidden="true" class="ico icon-speech"
                                                  onclick="icon_speech(this)">评论</span>

                                                <div class="clearfix"></div>
                                            </div>


                                            <form class="rep_content">

                                                <input type="text" class="comment_name" name="name" placeholder="昵称"
                                                       required="text">
                                                <input type="text" class="comment_qq" name="qq" placeholder="QQ"
                                                       required="qq">
                                                <textarea name="content" class="comment_content" placeholder="内容"
                                                          name=""
                                                          required="text"></textarea>

                                                <if condition="$webConfig['comment_code']==1">

                                                    <div>
                                                        <img src="/index.php?m=common&c=getcommentver&a=index&id={$v['id']}"
                                                             onclick="javascript:this.src='/index.php?m=common&c=getcommentver&a=index&id={$v['id']}'"
                                                             style="cursor: pointer;height: 44px;width: 100px;">
                                                        <input type="text" maxlength="4" class="check_code"
                                                               style="width: 15%;display: inline;margin-left: 5px;"
                                                               placeholder="验证码" required="check_code">
                                                    </div>

                                                </if>

                                                <input type="button" style="width: 100px;height: 38px;" value="提交"
                                                       onclick="addComment(this,{$v['id']},{$v['level']},{$blog['id']});">

                                            </form>


                                        </div>
                                    </li>

                                    <php>

                                        }

                                    </php>


                                </ul>

                                <else/>
                                <p>[日志评论已关闭]</p>
                            </if>
                        </div>


                    </div>

                </div>


            </div>

            <div class="col-md-4 content-main-right">
                <div class="search">
                    <h3>SEARCH HERE</h3>

                    <form>
                        <input type="text" value="" onfocus="this.value=''" onblur="this.value=''">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="categories">
                    <h3>CATEGORIES</h3>
                    <li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>
                    <li><a href="#">Vestibulum commodo felis quis tort</a></li>
                    <li><a href="#">Fusce pellentesque suscipit</a></li>
                </div>
                <div class="archives">
                    <h3>ARCHIVES</h3>
                    <li class="active"><a href="#">July 2014</a></li>
                    <li><a href="#">June 2014</a></li>
                    <li><a href="#">May 2014</a></li>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{:ADMIM_TPL_PATH}/plugins/layer/layer.min.js"></script>

<script>

    /**
     *  顶踩
     */
    function upDownComment(z) {
        var num = $(z).text();
        var data = $(z).attr("data").split("_")
        var id = data[1]
        var operationtype = data[2]
        $.ajax({
            url: "/index.php?m=home&c=comment&a=like",
            type: "post",
            dataType: "json",
            data: {
                id: id, operationtype: operationtype, type: "article", data: {$blog['id']}
            },
            success: function (d) {
                if (d.status) {
                    $(z).animate({
                        fontSize: "16px"
                    })
                    $(z).text(++num);
                    $(z).animate({
                        fontSize: "12px"
                    })
                }
            }

        })
    }

    /*
    *验证是否有中文
    */
    function checkchinese(content){

        if(escape(content).indexOf("%u") < 0)
        {
            layer.msg('评论必须要有中文', 1, 8);
           return false
        }
    }

    /**
     * 隐藏评论区
     */
    function hideComment(){
        $(".chats").hide("slow")
    }

    /**
     * 显示评论区
     */
    function showComment(){
        $(".chats").show("slow")
    }


    /**
     *  显示评论区
     */
    function icon_speech(z) {
        $(z).parent().next().animate({

            height: "toggle"
        })
    }

    /**
     *提交
     */
    $(".submit_comment").click(function () {

        var data = $(this).attr("data").split("_")
        var ref_id = data[1];
        var blog_id = data[2];
        var content = $(".comment_" + ref_id + "").val();

        $.ajax({
            url: "/index.php?m=home&c=comment&a=add",
            type: "post",
            dataType: "json",
            timeout: 5000,
            data: {

                name: name, qq: qq, content: content

            },
            beforeSend: function () {
                var load = layer.load('提交中', 3);
            },
            success: function (d) {
                layer.close("load")
                if (d.status) {
                    layer.msg('提交成功', 3, {
                        type: 9,
                        rate: 'bottom',
                        shade: [0]
                    });
                    $('#comment_form')[0].reset()
                } else {
                    layer.msg(d.msg, 1, 8);
                }
            },
            error: function () {
                layer.msg('提交失败', 1, 8);
            },
            complete: function (XMLHttpRequest, status) {
                if (status == 'timeout') {
                    ajaxTimeoutTest.abort();
                    layer.alert("超时!", 1, 8)
                }
            }

        })


    })


    /**
     * 添加评论
     * @returns {boolean}
     */
    function addComment(z, ref_id, level,blogid) {
        var name = $.trim($(z).parent().find(".comment_name").val());
        var qq = $(z).parent().find(".comment_qq").val();
        var check_code = $(z).parent().find(".check_code").val();
        var content = $(z).parent().find(".comment_content").val();

        if (!name || !qq || !content) {
            layer.msg('请完整填写各字段', 1, 8);
            return false;
        }
        var re = /\d{5,11}/;
        if (!re.test(qq)) {
            layer.msg('QQ格式错误', 1, 8);
            return false;
        }

        <if condition="$webConfig['comment_needchinese']==1">
        checkchinese(content)
        </if>

        var blogid = blogid


        $.ajax({
            url: "/index.php?m=home&c=comment&a=add",
            type: "post",
            dataType: "json",
            timeout: 5000,
            data: {

                name: name, qq: qq, content: content, data: blogid, ref_id: ref_id, level: level, check_code: check_code,type:<?php echo \Admin\Comment\Type\Type::TYPE_ARTICLE;?>

            },
            beforeSend: function () {
                var load = layer.load('提交中', 3);
            },
            success: function (d) {
                layer.close("load")
                if (d.status) {
                    layer.msg('提交成功', 3, {
                        type: 9,
                        rate: 'bottom',
                        shade: [0]
                    });
                    if (ref_id == 0) {
                        $(".chats").prepend(d.html)
                    } else {

                        $(z).parent().animate({
                            height: "toggle"
                        })
                        $(z).parent().hide()

                        $(".comment_" + ref_id).after(d.html)
                    }
                    $('#comment_form')[0].reset()
                } else {
                    layer.msg(d.msg, 1, 8);
                }
            },
            error: function () {
                layer.msg('提交失败', 1, 8);
            },
            complete: function (XMLHttpRequest, status) {
                if (status == 'timeout') {
                    ajaxTimeoutTest.abort();
                    layer.alert("超时!", 1, 8)
                }
            }

        })
        return false;


    }


</script>


<include file="home@index@foot"/>
