<include file="layout@admin@head"/>
<!-- BEGIN CONTAINER -->
<div class="page-container">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->

    <include file="layout@layout@menu"/>
    <link href="{:ADMIM_TPL_PATH}/assets/global/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet"/>
    <link href="{:ADMIM_TPL_PATH}/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet"/>


</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
        <include file="layout@layout@widgets"/>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green-meadow calendar">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Calendar
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div id='calendar'></div>
                            </div>
                        </div>
                        <!-- END CALENDAR PORTLET-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
</div>

</div>
<!-- END CONTAINER -->


<include file="layout@admin@foot"/>

<script src={:ADMIM_TPL_PATH}/assets/global/plugins/fullcalendar/fullcalendar/fullcalendar.min.js></script>
<script src={:ADMIM_TPL_PATH}/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js></script>
<script src="{:ADMIM_TPL_PATH}/assets/admin/pages/scripts/calendar.js"></script>


<script>
    jQuery(document).ready(function() {
        Calendar.init();

    });
</script>
