<include file="layout@admin@head"/>
<link href="{:ADMIM_TPL_PATH}/plugins/jcrop/css/jquery.Jcrop.min.css" rel="stylesheet" type="text/css"/>
<link href="{:ADMIM_TPL_PATH}/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css"/>
<link href="{:ADMIM_TPL_PATH}/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet"
      type="text/css"/>
<style>

    .jcrop-holder #preview-pane {
        display: block;
        position: absolute;
        z-index: 2000;
        top: 0;
        right: -280px;
        padding: 6px;
        border: 1px rgba(0, 0, 0, .4) solid;
        border-radius: 6px;
        background-color: white;
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    }

    #preview-pane .preview-container {
        width: 150px;
        height: 150px;
        overflow: hidden;
    }


</style>
<!-- BEGIN CONTAINER -->
<div class="page-container">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->

    <include file="layout@layout@menu"/>


</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
<div class="page-content">
<include file="layout@layout@widgets"/>

<div class="row">

<div class="col-md-12">

<div class="portlet box grey-cascade">
<div class="portlet-title">
    <div class="caption">
        <span class="glyphicon glyphicon-arrow-left" onclick="javascript:history.go(-1);"></span>
    </div>
    <div class="tools">
        <a href="javascript:;" class="collapse">
        </a>
        <a href="#portlet-config" data-toggle="modal" class="config">
        </a>
    </div>
</div>
<div class="portlet-body">
<div class="tabbable-custom nav-justified">
<ul class="nav nav-tabs nav-justified">
    <li class="active">
        <a href="#tab_1_1_1" data-toggle="tab">
            基本设置 </a>
    </li>
    <li>
        <a href="#tab_1_1_2" data-toggle="tab">
            模板管理 </a>
    </li>
    <li>
        <a href="#tab_1_1_3" data-toggle="tab">
            个人资料 </a>
    </li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab_1_1_1">


    <div class="row">
        <div class="col-md-6 ">

            <div class="portlet-body form">
                {$form->begin('config')}
                <div class="form-body">

                    <div class="form-group">
                        {$form->getText('blogname')}
                    </div>

                    <div class="form-group">
                        {$form->getText('bloginfo')}
                    </div>

                    <div class="form-group">
                        {$form->getText('blogurl')}
                    </div>

                    <div class="form-group">
                        {$form->getText('index_lognum')}
                    </div>

                    <div class="form-group">
                        {$form->getSelect('timezone')}
                    </div>

                    <div class="form-group">
                        {$form->getBsCheckBox('login_code')}
                    </div>

                    <div class="form-group">
                        {$form->getText('site_title')}
                    </div>

                    <div class="form-group">
                        {$form->getText('site_key')}
                    </div>

                    <div class="form-group">
                        {$form->getText('site_description')}
                    </div>

                    <div class="form-group">
                        {$form->getBsCheckBox('istwitter')}
                    </div>

                    <div class="form-group">
                        {$form->getText('index_twnum')}
                    </div>

                    <div class="form-group">
                        {$form->getBsCheckBox('istreply')}
                    </div>

                    <div class="form-group">
                        {$form->getBsCheckBox('iscomment')}
                    </div>

                    <div class="form-group">
                        {$form->getBsCheckBox('ischkcomment')}
                    </div>

                    <div class="form-group">
                        {$form->getBsCheckBox('comment_code')}
                    </div>

                    <!--<div class="form-group">
                        {$form->getBsCheckBox('isgravatar')}
                    </div>-->

                    <div class="form-group">
                        {$form->getBsCheckBox('comment_needchinese')}
                    </div>

                    <!--<div class="form-group">
                        {$form->getBsCheckBox('comment_paging')}
                    </div>-->

                    <div class="form-group">
                        {$form->getText('comment_interval')}
                    </div>

                    <!--<div class="form-group">
                        {$form->getText('comment_pnum')}
                    </div>-->


                    <div class="form-group">
                        {$form->getSelect('comment_order')}
                    </div>

                    <div class="form-group">
                        {$form->getText('icp')}
                    </div>

                    <div class="form-group">
                        {$form->getTextArea('footer_info')}
                    </div>


                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-9">
                            <button type="submit" class="btn green">Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>

                {$form->end('menuedit')}

            </div>

        </div>
    </div>


</div>
<div class="tab-pane" id="tab_1_1_2">
    222
</div>
<div class="tab-pane" id="tab_1_1_3">


    <div class="row">
        <div class="col-md-6 ">
            <div class="portlet-body form">
                {$memberform->begin('info')}
                <div class="form-body">

                    <div class="form-group" style="min-height: 450px;min-width:450px ">
                        <div class="col-md-12">

                            <input type="file" name="avatar_upload" id="avatar_upload" multiple="">
                            <h6 class="block">仅支持JPG、GIF、PNG、JPEG，文件小于4M</h6>


                        </div>


                        <div class="col-md-12">

                            <div class="example">
                                <img src="{$avatar}" id="target" alt="[Jcrop Example]">

                                <div id="preview-pane">
                                    <div class="preview-container">
                                        <img src="{$avatar}" class="jcrop-preview" alt="Preview">
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="clearfix">
                        </div>

                    </div>
                    <div class="form-group" style="margin-top: 50px"></div>
                    <input type="hidden" class="coordinates" name="coordinates">

                    <div class="form-group">
                        {$memberform->getText('avatar')}
                    </div>

                    <div class="form-group">
                        {$memberform->getText('nickname')}
                    </div>

                    <div class="form-group">
                        {$memberform->getSelect('sex')}
                    </div>

                    <div class="form-group">
                        {$memberform->getText('email')}
                    </div>

                    <div class="form-group">
                        {$memberform->getText('profession')}
                    </div>

                    <div class="form-group">
                        {$memberform->getText('favorite')}
                    </div>

                    <div class="form-group">
                        {$memberform->getText('userinfo')}
                    </div>

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-9">
                            <button type="submit" class="btn green">Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>

                {$form->end('info')}
            </div>
        </div>
    </div>


</div>


</div>
</div>


</div>

</div>


</div>


</div>

<div class="clearfix">
</div>

</div>
</div>


</div>
<!-- END CONTAINER -->


<include file="layout@admin@foot"/>
<script type="text/javascript" src="{:ADMIM_TPL_PATH}/plugins/jcrop/js/jquery.Jcrop.js"></script>
<script src="{:ADMIM_TPL_PATH}/plugins/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<script>


    $(function () {

        var jcrop_api;
        var $preview = $('#preview-pane')

        initJcrop();
        function initJcrop()//{{{
        {
            $('#target').Jcrop({
                onChange: updatePreview,
                onSelect: updatePreview,
                aspectRatio: 1
            },function(){
                jcrop_api = this;
                jcrop_api.setSelect([0, 0, 150, 150])
                var bounds = jcrop_api.getBounds();
                boundx = bounds[0];
                boundy = bounds[1];
                $preview.appendTo(jcrop_api.ui.holder);
            });

        };

        function updatePreview(c){
            if (parseInt(c.w) > 0) {
                var $preview = $('#preview-pane')
                var $pcnt = $('#preview-pane .preview-container')
                var $pimg = $('#preview-pane .preview-container img')
                var xsize = $pcnt.width()
                var ysize = $pcnt.height()
                var rx = xsize / c.w;
                var ry = ysize / c.h;
                var bounds = jcrop_api.getBounds();
                boundx = bounds[0];
                boundy = bounds[1];
                $pimg.css({
                    width: Math.round(rx * boundx) + 'px',
                    height: Math.round(ry * boundy) + 'px',
                    marginLeft: '-' + Math.round(rx * c.x) + 'px',
                    marginTop: '-' + Math.round(ry * c.y) + 'px'
                });
            }
            $(".coordinates").val(c.x + "," + c.x2 + "," + c.y + "," + c.y2)

        }


        //文件上传
        $("#avatar_upload").uploadify({
            'formData': {
                'timestamp': '{:time()}',
                'token': '{:md5("unique_salt_xtt".time())}'
            },
            height: 36,
            swf: '{:ADMIM_TPL_PATH}/plugins/uploadify/uploadify.swf',
            uploader: '/index.php?m=admin&c=config&a=avatarUpload',
            width: 110,
            'buttonText': "<i class='fa fa-plus'></i>添加文件",
            'removeTimeout': "<php>echo \\Admin\\Config\\Type\\Avatar::REMOVE_TIMEOUT;</php>",
            'uploadLimit': "<php>echo \\Admin\\Config\\Type\\Avatar::UPLOAD_LIMIT;</php>",
            'queueSizeLimit': "<php>echo \\Admin\\Config\\Type\\Avatar::QUEUE_SIZE_LIMIT;</php>",
            'multi': "<php>echo \\Admin\\Config\\Type\\Avatar::MULTI;</php>",
            'auto': "<php>echo \\Admin\\Config\\Type\\Avatar::AUTO;</php>",
            'fileObjName': "<php>echo \\Admin\\Config\\Type\\Avatar::FILE_OBJ_NAME;</php>",
            'fileSizeLimit': "<php>echo \\Admin\\Config\\Type\\Avatar::FILE_SIZE_LIMIT;</php>KB",
            'fileTypeDesc': '选择图片',
            'fileTypeExts': "<php>echo \\Admin\\Config\\Type\\Avatar::FILE_TYPE_EXTS;</php>",
            //选择文件出错
            'onSelectError': function (file) {
                layer.msg('选择文件出错了');
                return false;
            },

            //上传出错
            'onUploadError': function (file) {
                layer.msg('网络错误,上传失败!');
                return false;
            },

            //上传成功回调函数
            'onUploadSuccess': function (file, data, response) {
                try {
                    var obj = eval("(" + data + ")");  //var obj=({res:true,msg:''})
                    if (typeof(obj) !== 'object') {
                        layer.msg('系统错误,上传失败!', 2, 8);
                    }
                    if (obj.success === true) {
                        $(".preview-container img").attr("data-src", obj.file+"?"+Math.random())
                        $(".preview-container img").attr("src", obj.file+"?"+Math.random())
                        $(":input[name='avatar']").val(obj.file)
                        $('#target').attr("src", obj.file+"?"+Math.random())
                        $('.jcrop-holder img').attr("src", obj.file+"?"+Math.random())
                        jcrop_api.setImage(obj.file+"?"+Math.random())

                    } else if (obj.success === false) {
                        layer.msg(obj.msg, 2, 8);
                    }
                } catch (e) {
                    layer.msg('服务器内部错误!', 2, 8);
                }
            },

            //上传完成 会先调用onUploadSuccess然后才调用onUploadComplete
            'onUploadComplete': function (file) {
                //alert(file.name + '上传完成');
            }

        });

        //表单验证
        $(".form-horizontal").Validform({
            tiptype: function (msg, o, cssctl) {
                o.type = 5
                var objtip = o.obj.parent().parent(".form-group");
                cssctl(objtip, o.type);
                var objtip2 = o.obj.next();
                objtip2.show();
                objtip2.text(msg);
                return true
            }
        });
        //checkBox使用bootstrapSwitch 必须手动添加此段代码
        $('input[name="login_code"],input[name="istwitter"],input[name="istreply"],input[name="iscomment"],input[name="ischkcomment"],input[name="comment_code"],input[name="comment_needchinese"]/*,input[name="isgravatar"],input[name="comment_paging"]*/').on('switchChange.bootstrapSwitch', function (event, state) {
            state ? $(this).val(1) : $(this).val(0);
        });


    })


</script>


