<include file="layout@admin@head"/>
<link href="/Content/Templates/system/assets/admin/pages/css/error.css" rel="stylesheet" type="text/css"/>

<!-- BEGIN CONTAINER -->
<div class="page-container">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->


    <include file="layout@layout@menu"/>

</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <h3 class="page-title">
                404 页面不存在 <small>404 not found</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="index.html">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>

                    <li>
                        <a href="#">404 页面不存在</a>
                    </li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12 page-404">
                    <div class="number">
                        404
                    </div>
                    <div class="details">
                        <h3>很遗憾，貌似找不到这个页面</h3>
                        <p>
                            地址:<span class="label label-m label-danger">{$url}</span><br/>
                            你可以尝试：<br/>
                            <button type="button" class="btn btn-default" onclick="javascript:window.location.reload() ;">刷新</button>
                            <button type="button" class="btn btn-default" onclick="javascript:window.history.go(-1);">返回上一页</button>
                            <button type="button" onclick="javascript:window.location.href='/index.php?m=admin' ;" class="btn btn-default">返回主页</button>

                        </p>
                        或者全文索引:<br/>
                        <form action="#">
                            <div class="input-group input-medium">
                                <input type="text" class="form-control" placeholder="keyword...">
								<span class="input-group-btn">
								<button type="submit" class="btn blue"><i class="fa fa-search"></i></button>
								</span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- BEGIN CONTENT -->
    </div>



</div>
<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->


<include file="layout@admin@foot"/>


<script>
    /**
     * 表格插件
     */
    var TableManaged = function () {

        var initTable1 = function () {

            var table = $('#sample_menu');

            // begin first table
            table.dataTable({
                "columns": [{
                    "orderable": false
                }, {
                    "orderable": false
                }, {
                    "orderable": false
                }, {
                    "orderable": true
                }, {
                    "orderable": true
                }, {
                    "orderable": false
                }],
                "lengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "pageLength": 5,
                "pagingType": "bootstrap_full_number",
                "language": {
                    "lengthMenu": "  _MENU_ records",
                    "paginate": {
                        "previous":"Prev",
                        "next": "Next",
                        "last": "Last",
                        "first": "First"
                    }
                },
                "columnDefs": [{  // set default column settings
                    'orderable': false,
                    'targets': [0]
                }, {
                    "searchable": false,
                    "targets": [0]
                }],
                "order": [
                    //[1, "asc"]
                ] // set first column as a default sort by asc
            });

            var tableWrapper = jQuery('#sample_menu_wrapper');

            table.find('.group-checkable').change(function () {
                var set = jQuery(this).attr("data-set");
                var checked = jQuery(this).is(":checked");
                jQuery(set).each(function () {
                    if (checked) {
                        $(this).attr("checked", true);
                        $(this).parents('tr').addClass("active");
                    } else {
                        $(this).attr("checked", false);
                        $(this).parents('tr').removeClass("active");
                    }
                });
                jQuery.uniform.update(set);
            });

            table.on('change', 'tbody tr .checkboxes', function () {
                $(this).parents('tr').toggleClass("active");
            });

            tableWrapper.find('.dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
        }


        return {

            //main function to initiate the module
            init: function () {
                if (!jQuery().dataTable) {
                    return;
                }
                initTable1();
            }

        };

    }();
    TableManaged.init();
</script>