<include file="layout@admin@head"/>
<link href="{:ADMIM_TPL_PATH}/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet"
      type="text/css"/>
<link href="{:ADMIM_TPL_PATH}/assets/admin/pages/css/portfolio.css" rel="stylesheet" type="text/css"/>

<!-- END PAGE LEVEL SCRIPTS -->

<link rel="stylesheet" type="text/css"
      href="{:ADMIM_TPL_PATH}/assets/global/plugins/bootstrap-fileinput/css/fileinput.css"/>

<link rel="stylesheet" type="text/css" href="{:ADMIM_TPL_PATH}/assets/global/plugins/bootstrap-toastr/toastr.min.css"/>
<style>
    .isdefault{
        border: 6px solid green
    }

</style>

<!-- BEGIN CONTAINER -->

<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->

        <include file="layout@layout@menu"/>


    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <include file="layout@layout@widgets"/>


            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box blue-hoki">

                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>上传模板
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                                <a href="#portlet-config" data-toggle="modal" class="config">
                                </a>
                                <a href="javascript:;" class="reload">
                                </a>
                                <a href="javascript:;" class="remove">
                                </a>
                            </div>
                        </div>


                        <div class="portlet-body form">

                            <form action="#" class="form-horizontal form-bordered">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">格式：ZIP</label>

                                        <div class="col-md-10">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                                <input id="input-tpl" type="file" name="pluzip" multiple="true">

                                                <div id="errorTplBlock" class="help-block"></div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="row mix-grid thumbnails">
                    <volist name="templateAll" id="template">

                        <div class="col-md-4 col-sm-6 mix category_1">
                            <div class="mix-inner <if condition="$template.status eq 1">isdefault</if>">
                            <img class="img-responsive" src="{:TEMPLATE_PATH}/{$template['name']}/thumbnail.jpg" alt=""
                                 style="width: 524px;height: 393px">

                            <div class="mix-details" style="filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;">
                                <h3>{$template['title']}</h3>

                                <p>
                                    安装时间：{$template['crate_time']}<br/>
                                    作者：{$template['author']}<br/>
                                    版本：{$template['version']}<br/>
                                <p style="height: 120px">
                                    说明：{$template['descriptor']}
                                </p>

                                </p>
                                <a  class="btn purple"  href="javascript:;" onclick="useTpl(this,'{$template['name']}');">
                                    使用<i class="fa fa-check-circle"></i>
                                </a>
                                <a  class="btn red "  href="javascript:;" onclick="javascript:delTpl(this,'{$template['name']}');">
                                    删除<i class="fa fa-times-circle"></i>
                                </a>
                                <a  class="btn yellow fancybox-button"
                                   href="{:TEMPLATE_PATH}/{$template['name']}/thumbnail.jpg"
                                   title="{$template['title']}" alt="查看" data-rel="fancybox-button">
                                    预览<i class="fa fa-search"></i>
                                </a>


                            </div>
                        </div>
                </div>
                </volist>

            </div>
        </div>
        <!-- END DASHBOARD STATS -->
        <div class="clearfix">
        </div>


    </div>
</div>
<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->


<include file="layout@admin@foot"/>
<script src="{:ADMIM_TPL_PATH}/assets/admin/pages/scripts/portfolio.js"></script>
<script type="text/javascript"
        src="{:ADMIM_TPL_PATH}/assets/global/plugins/jquery-mixitup/jquery.mixitup.min.js"></script>
<script type="text/javascript"
        src="{:ADMIM_TPL_PATH}/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"></script>

<script type="text/javascript"
        src="{:ADMIM_TPL_PATH}/assets/global/plugins/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript"
        src="{:ADMIM_TPL_PATH}/assets/global/plugins/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>

<script src="{:ADMIM_TPL_PATH}/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>

<!-- END PAGE LEVEL PLUGINS -->
<script>
    $(function () {

        //显示模板
        $('.mix-grid').mixitup();

        //toastr
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        //fancybox
        if ($(".fancybox-button").size() > 0) {
            $(".fancybox-button").fancybox({
                groupAttr: 'data-rel',
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: true,
                helpers: {
                    title: {
                        type: 'inside'
                    }
                }
            });
        }
        //zip文件上传
        $("#input-tpl").fileinput({
            showPreview: false,
            allowedFileExtensions: ["zip"],
            elErrorContainer: "#errorTplBlock",
            minFileCount: 1,
            maxFileCount: 5,
            maxFileSize: 5120,
            uploadUrl: "/index.php?m=admin&c=template&a=uploadTpl", // server upload action
            uploadAsync: true,
            language: "zh"
        }).on('filebatchuploadsuccess', function (event, data, previewId, index) {
            response = data.response
            if (response.success) {
                toastr.success(response.success)
                setTimeout(function(){
                    window.location.reload()
                },3000)
            }
        });


    })
    //使用模板
    function useTpl(z,tplName){
        $.ajax({
            url:"/index.php?m=admin&c=template&a=useTpl",
            dataType:"json",
            type:"post",
            data:"name="+tplName,
            success:function(d){
                if(d.status){
                    $(".isdefault").removeClass("isdefault")
                    $(z).parents(".mix-inner").addClass("isdefault")
                }else{
                    toastr.error("操作失败..")
                }
            }
        })


    }

    //删除模板
    function delTpl(z,tplName){

        $.ajax({
            url:"/index.php?m=admin&c=template&a=delTpl",
            dataType:"json",
            type:"post",
            data:"name="+tplName,
            success:function(d){
                if(d.status){
                    $(z).parents(".category_1").fadeOut();
                }else{
                    toastr.error("操作失败..")
                }
            }
        })

    }
</script>